<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Package food</title>
    <!-- favIcon -->
    <link rel="icon" href="https://organicindia.com/cdn/shop/files/logo-120x120_2.jpg?v=1743768667">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <header>
        <section>

            <div id="logo">
                <img src="" alt="">
            </div>

            <div id="navbar">
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="service.html">service</a></li>
                        <li><a href="product.html">product</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </nav>
            </div>

            <div id="icons">
                <i class="fas fa-search"></i>
                <a href="">login</a>
                <i class="far fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>

        </section>

    </header>


    <main>

        <section id="herosection">
            <h1>This is Home Page</h1>

            <img src="" alt="">

        </section> <!--end of herosection-->


        <section id="about">
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
        </section> <!--end of about-->


        <section id="booster">

            <div>
                <h2>Immunity Boosters</h2>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h4></h4>
                <p></p>
                <button></button>
            </div>

        </section> <!--end of booster-->


        <section id="video">
            <div>
                <video src=""></video>
            </div>
            <div>
                <video src=""></video>
            </div>
            <div>
                <video src=""></video>
            </div>
            <div>
                <video src=""></video>
            </div>
            <div>
                <video src=""></video>
            </div>
            <div>
                <video src=""></video>
            </div>
        </section> <!--end of video-->


        <section id="trending">

            <div>
                <h2>Trending Now !</h2>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
                <p></p>
                <button></button>
            </div>

        </section><!--end of trending-->


        <section id="tulsi">
            <div>
                <img src="" alt="">
            </div>

            <div>
                <div>
                    <div>
                        <h2>GET THE ‘TULSI’ WELLNESS EDGE</h2>
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <h3></h3>
                        <p></p>
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <h3></h3>
                        <p></p>
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <h3></h3>
                        <p></p>
                    </div>
                    <button>shop Now</button>
                </div>
            </div>
        </section> <!--end of tulsi-->


        <section id="healthy">
            <div>
                <h2>HEALTHY CONSCIOUS LIVING</h2>
                <p>Healthy Conscious Living includes conscious business practices to ensure our impact on our world and
                    communities is a positive one. At the foundation of ORGANIC INDIA’s products, company, and sourcing
                    is regenerative agriculture that not only sustains but replenishes the earth; fair trade practices
                    that support and honour farmer partners with equitable wages, health care, and ongoing organic
                    agricultural training; and a LEED Platinum certified production facility that is a marvel of
                    top-tier sustainable design, construction, and operations. This all culminates in the creation of
                    Organic, Non-GMO herbal teas and supplements that support the health of the population, the vibrancy
                    of the planet, and the livelihood of communities in India.

                </p>

                <button>SHOP NOW</button>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </section> <!--end of healthy-->

        <section id="review">

            <div>
                <h2></h2>
                <img src="" alt="">
                <h3></h3>
                <p></p>
            </div>

        </section> <!--end of review-->

        <section id="beat">

            <div>
                <img src="" alt="">
            </div>
            <div>
                <h2></h2>
                <h5></h5>
                <p></p>
                <button></button>
            </div>

        </section><!--end of beat-->

        <section id="blogs">

            <div>
                <h2></h2>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
                <h2></h2>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h2></h2>
                <p></p>
                <button></button>
            </div>
            <div>
                <img src="" alt="">
                <h2></h2>
                <p></p>
                <button></button>
            </div>

        </section> <!--end of blogs-->

    </main>
             
    <footer>
         <section>
            <div>
                <ul>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                    <li>footer</li>
                </ul>
            </div>
            <div>
                <p>Copyright &copy; &euro; &gt; 2024 Organic India Pvt. Ltd.</p>
            </div>
         </section>
    </footer>

</body>

</html>