<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header>
        <section>

            <div id="logo">
                <img src="" alt="">
            </div>

            <div id="navbar">
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="service.html">service</a></li>
                        <li><a href="product.html">product</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </nav>
            </div>

            <div id="icons">
                <i class="fas fa-search"></i>
                <a href="">login</a>
                <i class="far fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>

        </section>

    </header>

    <main>
        <h1>This is product Page</h1>
    </main>
</body>
</html>